* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* HEADER */
header{
    background-color: #1f2937;
    color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 10rem;
}

nav  a {
    text-decoration: none;
    color: white;
}

/* CONTAINER */

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0 50px 0;

}

.container img {
    width: 35rem;
    height: 16rem;
}

.left-col {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.left-col > h1 {
    font-size: 3rem;
    color: #f9faf8;
    font-weight: 900; 
}

.left-col > p {
    font-size: 1.125rem;
    color: #e5e7eb;
}

.left-col > button {
    padding: 10px 20px;
    background-color: #3882f6;
    color: #e5e7eb;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 600;
    width: 30%;
}

/* MAIN */

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 30px;
}

main h1 {
    font-size: 2.25rem;
    color: #1f2937;
    font-weight: 900;
}

.card {
    display: flex;
    gap: 4rem;

}

.card img {
    width: 13rem;
    height: 13rem;
    border: 3px solid #1e61e9;
    border-radius: 25px;
    object-fit: cover;
}

.col {
    width: min-content;
}

/* ARTICLE */
.artcl1 {
    background-color: #e5e7eb;
    padding: 50px;
    display: flex;
    justify-content: center;

}

.coment{
    width: 67%;
}
.coment > p {
    font-size: 36px;
    color: #1f2937;
    font-weight: 100;
    font-family: 'Roboto', italic;
}

.coment > span {
    float: right;
    font-weight: 900;
}

.artcl2 {
    padding: 50px;
    display: flex;
    justify-content: center;
    max-width: 1300px;
    margin: auto;
}    

.blue {
    display: flex;
    background-color: #3882f6;
    color: white;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    border-radius: 25px;
}

.action > p:first-child {
    font-size: 30px;
}

.action > p:last-child {
    font-size: 20px;
    font-weight: 100;
}

.sign > button {
    padding: 10px 36px;
    background-color: #3882f6;
    color: #e5e7eb;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 600;
}

/* FOOTER */

footer {
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 30px;
}